{% extends 'base.html' %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <table class="table table-bordered table-hover caption-top">
        <caption>Table of games to rent</caption>
        <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Stock</th>
            <th>Daily Rate</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>
                    <a href="{% url 'games:detail' game.id %}">{{ game.title }} </a>
                </td>
                <td>{{ game.genre }}</td>
                <td>{{ game.number_in_stock }}</td>
                <td>{{ game.daily_rate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>